[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
botocore = "*"
numpy = "*"
pandas = "*"
tenacity = "*"
boto3 = "*"
chart = "*"
aiodns = "*"
cchardet = "*"
aiohttp = "*"
websockets = "*"
aioresponses = "*"
yarl = "*"
holoviews = "*"
bokeh = "*"
jupyter = "*"
xarray = "*"
datashader = "*"

[requires]
python_full_version = "3.8.1"
